@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap");


main {
    background: #f3f4f6;
    grid-area: main;
    overflow-y: auto;
  }

  main h1 {
    font-family: "Sansita Swashed", cursive;
  }

  main p {
    font-family: "Poppins", sans-serif;
  }
  
  .main__container {
    margin-top: 20px;
    align-items: center;
  }

  .ant-form-horizontal{
    margin-left: 30px;
    padding-right: 50px;
  }
  
  .form-name-title{
    font-weight: bold;
    margin-left: 158px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 20px;
  }

  .form-password-title{
    margin-left: 52px;
    font-weight: bold;
    padding-top: 20px;
  }

  .user_settings{
    margin-left: 635px;
    margin-bottom: 30px;
    font-weight: bold;
  }
  
  .main__title {
    display: flex;
  }
  
  .main__title > img {
    max-height: 100px;
    object-fit: contain;
    margin-right: 20px;
  }
  
  .main__greeting > h1 {
    font-size: 24px;
    color: #2e4a66;
    margin-bottom: 5px;
    text-align: center;
  }
  
  .main__greeting > p {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #a5aaad;
  }

  .pass-message{
    color: red;
    margin-left: 125px;
    text-align: left;
  }

  .info-message{
    color: red;
    margin-left: 180px;
    text-align: justify;

  }